.canvas-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

canvas {
    border: 1px solid black;
    background-image: url("map.svg");
    background-size: cover;
    
    /*
    ok to set width here in css, but it doesn't match
    the internal resolution of the canvas (which is set in js)
    */
    /* width: 75%; */
}

p {
    display: flex;
    justify-content: center;
}
