.canvas-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


canvas {  
    border: 1px solid black;
    background-image: url("map.svg");
    background-size: cover;
   
    /* NOTE: don't set width and height here. Size is set in js */
}

p {
    display: flex;
    justify-content: center;
}

body {
    margin: 0;
}
